body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
span{
    color: #FFA500;
}
.flex-section{
    display: flex;
}
.half-width{
    width: 50%;;
    padding-left: 5%;
}
section img{
    width: 80%;
}
.welcome-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h3{
    font-size: 21px;
    font-weight: 400;
}