body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
span{
    color: #FFA500;
}
.flex-section{
    display: flex;
}
.half-width{
    width: 50%;;
    padding-left: 8%;
}
section img{
    width: 90%;
}
.welcome-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h3{
    font-size: 21px;
    font-weight: 700;
}
.welcome-paragraph{
    font-weight: 400;
    color: #696981;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF936F,#FF6E50);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}